#loading{
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    visibility: visible;
    animation: spin 1s infinite linear;
}


@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


:root{
    --background: rgba(85, 214, 170, .85);
}

/* reset box sizing */
*,*::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    /* background: #222; */
}

/* stili per la navigazione */
header{
    background: var(--background);
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}

nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;

}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover{
    color: #000;
}

.nav-toggle{
    display: none;
}
.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
    transition: background 100ms linear;
}

.nav-toggle-label span::before{
    content: '';
    position: absolute;
    top: 7px;
}

.nav-toggle-label span::after{
    content: '';
    position: absolute;
    bottom: 7px;
}

.nav-toggle:checked ~ label span{
    background: transparent;
    
}

.nav-toggle:checked ~ label span::before{
    transform: rotate(-30deg) translateY(-7px) scaleX(1.2) translateX(3px);
}

.nav-toggle:checked ~ label span::after{
    transform: rotate(30deg) translateY(6px) scaleX(1.2) translateX(3px);
}

.section1{
    margin-top: 5rem;
}

@media screen and (min-width: 800px){
    .nav-toggle-label{
        display: none;
    }
    header{
        display: flex;
    }
    header h1{
        margin: 0;
        padding: 5px;
        
    }
    nav{
        transform: scale(1 ,1);
        position: relative;
        transition: transform 0s linear;
        background: transparent;
    }

    nav ul{
        height: 100%;
        display: flex;
        position: relative;
        justify-content: end;
    }
    nav ul li{
        margin-left: 0;
        margin-right: 1em;
        margin-bottom: 0;
        display: flex;
        align-items: center;

    }

    nav a{
        opacity: 1;
        transition: opacity 0s linear;
    }
    
    .section1{
        margin-top: 3rem;
    }

}

legend{ float: none; padding: inherit; }


.searchSection{
    padding: 2rem;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 10px;
}

.searchSection span{
    padding: 0 1rem;
}


.keywordsField{
    height: 400px;
    overflow-y: scroll;
    /* border: solid 2px red; */
    padding: 1rem;
}

.savedUsers, .divDetailFavorites{
    border: solid 2px red;
    height: 350px;
    overflow-y: scroll;
}

#divResult{
    height: 300px;
    overflow-y: scroll; 
    border-radius: 10px 10px 10px 10px;
}

:root{
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --cyan_transparent: hsla(178, 100%, 50%, 0.356);
    --Very-dark-blue-mainBG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%)
}

*,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    color: var(--White);
}

body{
    background: linear-gradient(var(--Very-dark-blue-mainBG), var(--Very-dark-blue-card-BG));
    min-height: 100vh;
}

input{
    color: black;
}

button{
    color: black;
    padding: 0 1rem;
}

.containerBox{
    box-shadow: 0px 10px 10px 10px var(--Very-dark-blue-mainBG);
    border-radius: 10px 10px 10px 10px;
    border: solid 2px black;
}













